<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Refresh" content="5; url='nuevo-index'" />
    <title>Document</title>
</head>

<body>
    <table style="border: 1px solid">
        <thead>
            <tr>
                <th>Curso</th>
                <th>Inscriptos</th>
            </tr>
        </thead>
        {% for nombre, inscriptos in cursos %}
        <tr>
            <td>{{ nombre }}</td>
            <td>{{ inscriptos }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>