{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi pagina web</title>
</head>

<body>
    <h1>Mi primera pagina</h1>
    <p>Hizo {{cursos}}</p>
    <p>Actualmente está cursando: {{actualmente}}</p>
    {% if nombre != "" %}
    <p>bienvenido {{nombre}}</p>
    {% else %}
    <p>bienvenido usuario sin nombre</p>
    {% endif %}
    <br>
    <a href='{% url "nuevos_cursos" %}'> Ir a cursos</a>
    <img src='{% static "myapp/imagenes/sun.jpg"%}'>
</body>

</html>